<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin Panel | CaseAce</title>
<% include header.ejs %>
<% include navbar.ejs %>

<div class="container">
<p>
<a style="font-size:24px" href="/<%=community%>/storeCase"><b>Store a new case</b></a><br>
</p>
<hr />

<span style="font-size:24px"><b>Existing Cases</b></span>

<% if (Cases == null) { %>
<h2>Sorry, there are no existing cases</h2>
<% }
   else { %>
		<% Cases.forEach(function(Case) { %>
		<table>

		<tr>
			<td nowrap style="font-size:10px">
				<a href="/<%=community%>/viewCase/<%=Case._id%>">View/Edit</a><b>|</b>
			</td>
<!-- 			<td nowrap style="font-size:10px">
				<a href="/<%=community%>/makeCurrentCase/<%=Case._id%>">Set as Current Case</a><b>|</b>
			</td> -->
			<td nowrap style="font-size:10px">
				<a href="/<%=community%>/gradeCase/<%=Case._id%>">Grade</a><b>|</b>
			</td>
<!-- 			<td nowrap style="font-size:10px">
				<a href="/<%=community%>/storeBestAnswer/<%=Case._id%>">Store Best Answer</a><b>|</b>
			</td> -->
			<td>
				<i class="icon-briefcase"></i>  <%= Case.Date %>: <%= Case.Diagnosis %>
			</td>
			<td style="font-size:10px">
				<a href="/<%=community%>/removeCase/<%=Case._id%>">Remove</a>
			</td>
		</tr>

		</table>
		<% }); %>
	<% } %>

<hr />

<span style="font-size:24px"><b>Key</b></span>
<ul>
	<li><b>View/Edit:</b> View/Edit this case and its answer</li>
<!-- 	<li><b>Set as Current Case:</b> Set this case as the CurrentCase</li> -->
	<li><b>Grade:</b> Grade this case's answers.  This also automatically updates the Leaderboard</li>
<!-- 	<li><b>Store Best Answer:</b> This allows you to designate which username's explanation is the answer you would like to highlight in the official solution to the case</li> -->
	<li><b>Remove:</b> Remove this case from the database</li>
</ul>

</div>

<% include footer.ejs %>