<% include header.ejs %>
<% include password.ejs %>
<% include navbar.ejs %>

<div class="container">

<a href="/<%=community%>/storeCase">Store a case</a><br>
<a href="/<%=community%>/setCurrentCase">Change the Current Case</a> (Automatically makes the current case now the past case)<br>
<a href="/<%=community%>/gradeAnswers">Grade Answers</a><br>
<a href="/<%=community%>/storeSolvers">Enter in the superb explanation you want displayed</a><br>
<a href="/<%=community%>/setViewCaseList">Preview a case's contents and make edits to it</a>

</div>

<% include footer.ejs %>