<% include header.ejs %>
<% include password.ejs %>
<% include navbar.ejs %>

<div class="container">

<form action="/storeCaseAction" method="POST">

    <label class="control-label" for="Date">
    </label>
	<input type="hidden" name="Date" value=<%- Case.Date %>>
	<h2>Case from <%- Case.Date %></h2>
	
	<label class="control-label" for="CurrentCase">
	Is this case the Current Case, Past Case or neither? Type "yes" if Current Case, "past" if Past Case, "no" for neither.
	</label>
	<textarea name="CurrentCase"><%- Case.CurrentCase %></textarea><br>

	<label class="control-label" for="FlexibleText1">
	Flexible Text 1 (Optional)
	</label>
	<textarea name="FlexibleText1" cols="100"><%- Case.FlexibleText1 %></textarea><br>

	<label class="control-label" for="FlexibleText2">
	Flexible Text 2 (Optional)
	</label>
	<textarea name="FlexibleText2"><%- Case.FlexibleText2 %></textarea><br>

	<label class="control-label" for="HPI">
	HPI
	</label>
	<textarea name="HPI"><%- Case.HPI %></textarea><br>

	<label class="control-label" for="PMH">
	PMH
	</label>
	<textarea name="PMH"><%- Case.PMH %></textarea><br>

	<label class="control-label" for="MedsAllergies">
	Meds Allergies
	</label>
	<textarea name="MedsAllergies"><%- Case.MedsAllergies %></textarea><br>

	<label class="control-label" for="SHxHRB">
	SHx, HRB
	</label>
	<textarea name="SHxHRB"><%- Case.SHxHRB %></textarea><br>

	<label class="control-label" for="FHx">
	FHx
	</label>
	<textarea name="FHx"><%- Case.FHx %></textarea><br>

	<label class="control-label" for="PE">
	PE
	</label>
	<textarea name="PE"><%- Case.PE %></textarea><br>

	<label class="control-label" for="LabsStudies">
	Labs and Studies
	</label>
	<textarea name="LabsStudies"><%- Case.LabsStudies %></textarea><br>

	<label class="control-label" for="Imaging">
	Imaging
	</label>
	<textarea name="Imaging"><%- Case.Imaging %></textarea><br>

	<label class="control-label" for="Citation">
	Citation for source of case
	</label>
	<textarea name="Citation"><%- Case.Citation %></textarea><br>

	<label class="control-label" for="Question">
	Question(s) that you'd like to ask the participants
	</label>
	<textarea name="Question"><%- Case.Question %></textarea><br>

	<h2>Answer</h2>
	<label class="control-label" for="FirstSolvers">
	First three users to solve the case
	</label>
	<textarea name="FirstSolvers"><%- Case.FirstSolvers %></textarea><br>
	
	<label class="control-label" for="SuperbExplanations">
	Users who were awarded Superb Explanations
	</label>
	<textarea name="SuperbExplanations"><%- Case.SuperbExplanations %></textarea><br>

	<label class="control-label" for="Diagnosis">
	What is the diagnosis?
	</label>
	<textarea name="Diagnosis"><%- Case.Diagnosis %></textarea><br>

	<label class="control-label" for="FurtherDetails">
	Further details about the patient not initially revealed in initial case presentation
	</label>
	<textarea name="FurtherDetails"><%- Case.FurtherDetails %></textarea><br>

	<label class="control-label" for="StudentWithExplanation">
	Which username's explanation will you display
	</label>
	<textarea name="StudentWithExplanation"><%- Case.StudentWithExplanation %></textarea><br>

	<label class="control-label" for="StudentExplanation">
	What is the user's explanation
	</label>
	<textarea name="StudentExplanation"><%- Case.StudentExplanation %></textarea><br>

	<label class="control-label" for="KeyPointsExplanation">
	Key points and explanation for this case
	</label>
	<textarea name="KeyPointsExplanation"><%- Case.KeyPointsExplanation %></textarea><br>

	<input class="btn" type="submit">

</form>

</div>

<% include footer.ejs %>