
<body>
 <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/">Case Ace</a>
                <% if (header != 'CaseAce' && header != 'I\'ve got a case!') { %>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <% if (community != 'UCSFMS1s' && community != 'DukeMS' && community != 'StanfordMS' && community != 'UCSFBMB') { %>
                            <% if (header == 'Leader Board') { %>
                            <li class="active">
                            <% }
                               else { %>
                            <li>
                            <% } %>
                                <a href="/<%=community%>/leaderboard">Leader Board</a>
                            </li>
                        <% } %>                    
                        <% if (header == 'Current Case') { %>
                        <li class="active">
                        <% }
                           else { %>
                        <li>
                        <% } %>
                            <a href="/<%=community%>/currentcase">Current Case</a>
                        </li>

                        <% if (header == 'Past Cases') { %>
                        <li class="active">
                        <% }
                           else { %>
                        <li>
                        <% } %>
                            <a href="/<%=community%>/pastCasesList">Past Cases</a>
                        </li>

                        <% if (adminPanel == 'yes') { %>
                        <li>
                            <a href="/<%=community%>/admin/main">Admin Panel</a>
                        </li>
                        <li>
                            <a href="/<%=community%>/adminLogout">Logout</a>
                        </li>
                        <% } %>

                    </ul>
                <% if (adminPanel == 'no') { %>
                    <ul class="nav pull-right">
                        <li>
                        <a href="/<%=community%>/adminLogin">Admin Login</a>
                        </li>
                    </ul>
                <% } %>                    
                </div>



                <% } %>
            </div>
        </div>
    </div>
    <div class="hero-unit">
        <h1>
            <%= header%>
        </h1>
        <% if (header == 'CaseAce') {%>
        <p>
        Clinical case challenges for medical students, residents, and professionals
        </p>
        <% } %>
        
        <% if (header == 'Leader Board') {%>
        <p>
        Hats off to our top case solvers!
        </p>
        <% } %>
        
        <% if (header == 'Current Case') {%>
            <% if (community == 'UCSFMS1s') {%>
            <p>
            Submit answers by midnight
            </p>
            <% } %>
            <% if (community == 'UCSFMS2s') {%>
            <p>
            Submit answers by 10AM Sunday
            </p>
            <% } %>
        <% } %>

        <% if (header == 'Past Cases') {%>
        <p>
        Solutions and Explanations
        </p>
        <% } %>
        
    </div>