<% include header.ejs %>
<% include navbar.ejs %>
<div class="container">

<% Cases.forEach(function(Case) { %>
<a href="/<%=community%>/viewCaseList/<%=Case._id%>"><i class="icon-briefcase"></i></a>  <a href="/<%=community%>/viewCaseList/<%=Case._id%>"><%= Case.Date %></a>: <%= Case.Diagnosis %><br>
<% }); %>


</div>

<% include footer.ejs %>